{% load static %}
<!doctype html>
<html lang="es">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- Vertical Slider -->
		<link rel="stylesheet" href="{% static 'css/splide.min.css' %}">
		<!-- Telsy -->
		<link rel="stylesheet" href="{% static 'css/telsy.css' %}">
		<!-- Fontawesome -->
		<link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
		<!-- Animate -->
		<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
		<!-- Icon -->
		<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}">
		<title>Telsy Hogar</title>
	</head>
	<body>
		<div class="container-fluid p-0 black high-100">
			<div class="row no-gutters p-0 high-100">
				<div class="col-12 p-0 my-auto">
				<!-- Container Interface -->
				<div class="screen main-medium">
					<!-- Inner Container -->
						<div class="container-fluid p-0">
							<div class="row header no-gutters p-0">
								<div class="col title d-flex flex-row">
									<div class="icon my-auto margin-right-10">
										<img src="{% static 'images/icons/ico-data.png' %}">
									</div>
									<h1>Tus últimos datos</h1>
								</div>
								<div class="col-fifth navigation d-flex justify-content-end">
									<a href="/menu/" class="button square s60 gradient-1">
										<div class="icon">
											<img src="{% static 'images/icons/ico-nav.png' %}">
										</div>
									</a>
								</div>
							</div>
							<div class="row main-content no-gutters p-0">
								<div class="col ms-2" id="signs-div">
									<div class="visually-hidden" id="spo2-card">
										<div class="d-flex align-items-center">
											<div class="ico my-auto">
												<img src="{% static 'images/icons/ico-spo2.png' %}">
											</div>
											<div class="content my-auto margin-left-10">
												<p>Saturación oxígeno</p>
												<h2 class="d-inline" id="spo2">...</h2>
												<p class="d-inline">&nbsp;%</p>
												<p class="small txt-grey-dark">
													<span class="bold-text">Fecha:&nbsp;</span>
													<span class="record-date">dd/mm/yyyy</span>
												</p>
											</div>
										</div>
									</div>
									<div class="visually-hidden" id="hr-spo2-card">
										<div class="d-flex align-items-center">
											<div class="ico my-auto">
												<img src="{% static 'images/icons/ico-ekg-2.png' %}">
											</div>
											<div class="content my-auto margin-left-10">
												<p>Pulso</p>
												<h2 class="d-inline" id="hr-spo2">...</h2>
												<p class="d-inline">&nbsp;bpm</p>
												<p class="small txt-grey-dark">
													<span class="bold-text">Fecha:&nbsp;</span>
													<span class="record-date">dd/mm/yyyy</span>
												</p>
											</div>
										</div>
									</div>
									<div class="visually-hidden" id="temp-card">
										<div class="d-flex align-items-center">
											<div class="ico my-auto">
												<img src="{% static 'images/icons/ico-thermometer.png' %}">
											</div>
											<div class="content my-auto margin-left-10">
												<p>Temperatura</p>
												<h2 class="d-inline" id="temp">...</h2>
												<p class="d-inline">&nbsp;°C</p>
												<p class="small txt-grey-dark">
													<span class="bold-text">Fecha:&nbsp;</span>
													<span class="record-date">dd/mm/yyyy</span>
												</p>
											</div>
										</div>
									</div>
									<div class="visually-hidden" id="systole-card">
										<div class="d-flex align-items-center">
											<div class="ico my-auto">
												<img src="{% static 'images/icons/ico-pni.png' %}">
											</div>
											<div class="content my-auto margin-left-10">
												<p>Presión Sistólica</p>
												<h2 class="d-inline" id="systole">...</h2>
												<p class="d-inline">&nbsp;mmHg</p>
												<p class="small txt-grey-dark">
													<span class="bold-text">Fecha:&nbsp;</span>
													<span class="record-date">dd/mm/yyyy</span>
												</p>
											</div>
										</div>
									</div>
									<div class="visually-hidden" id="diastole-card">
										<div class="d-flex align-items-center">
											<div class="ico my-auto">
												<img src="{% static 'images/icons/ico-pni.png' %}">
											</div>
											<div class="content my-auto margin-left-10">
												<p>Presión Diastólica</p>
												<h2 class="d-inline" id="diastole">...</h2>
												<p class="d-inline">&nbsp;mmHg</p>
												<p class="small txt-grey-dark">
													<span class="bold-text">Fecha:&nbsp;</span>
													<span class="record-date">dd/mm/yyyy</span>
												</p>
											</div>
										</div>
									</div>
									<div class="visually-hidden" id="map-card">
										<div class="d-flex align-items-center">
											<div class="ico my-auto">
												<img src="{% static 'images/icons/ico-pni.png' %}">
											</div>
											<div class="content my-auto margin-left-10">
												<p>Presión Media</p>
												<h2 class="d-inline" id="map">...</h2>
												<p class="d-inline">&nbsp;mmHg</p>
												<p class="small txt-grey-dark">
													<span class="bold-text">Fecha:&nbsp;</span>
													<span class="record-date">dd/mm/yyyy</span>
												</p>
											</div>
										</div>
									</div>
									<div class="visually-hidden" id="hr-ecg-card">
										<div class="d-flex align-items-center">
											<div class="ico my-auto">
												<img src="{% static 'images/icons/ico-ekg.png' %}">
											</div>
											<div class="content my-auto margin-left-10">
												<p>Frec. Cardíaca</p>
												<h2 class="d-inline" id="hr-ecg">...</h2>
												<p class="d-inline">&nbsp;bpm</p>
												<p class="small txt-grey-dark">
													<span class="bold-text">Fecha:&nbsp;</span>
													<span class="record-date">dd/mm/yyyy</span>
												</p>
											</div>
										</div>
									</div>
									<div class="visually-hidden" id="rr-card">
										<div class="d-flex align-items-center">
											<div class="ico my-auto">
												<img src="{% static 'images/icons/ico-resp.png' %}">
											</div>
											<div class="content my-auto margin-left-10">
												<p>Frec. Respiratoria</p>
												<h2 class="d-inline" id="rr">...</h2>
												<p class="d-inline">&nbsp;brpm</p>
												<p class="small txt-grey-dark">
													<span class="bold-text">Fecha:&nbsp;</span>
													<span class="record-date">dd/mm/yyyy</span>
												</p>
											</div>
										</div>
									</div>
									<div class="visually-hidden" id="weight-card">
										<div class="d-flex align-items-center">
											<div class="ico my-auto">
												<img src="{% static 'images/icons/ico-weight.png' %}">
											</div>
											<div class="content my-auto margin-left-10">
												<p>Peso</p>
												<h2 class="d-inline" id="weight">...</h2>
												<p class="d-inline">&nbsp;kg</p>
												<p class="small txt-grey-dark">
													<span class="bold-text">Fecha:&nbsp;</span>
													<span id="weight-date">dd/mm/yyyy</span>
												</p>
											</div>
										</div>
									</div>
									<div class="visually-hidden" id="ecg-wave-card">
										<div class="row">
											<div class="col-4">
												<div class="d-flex align-items-center">
													<div class="ico my-auto">
														<img src="{% static 'images/icons/ico-ecg.png' %}">
													</div>
													<div class="content my-auto margin-left-10">
														<p>Electrocardiograma</p>
														<p class="small txt-grey-dark">
															<span class="bold-text">Fecha:&nbsp;</span>
															<span class="record-date">dd/mm/yyyy</span>
														</p>
														<h3>&nbsp</h3>
													</div>
												</div>
											</div>
											<div class="col-8">
												<canvas width="460" height="60" id="ecg-wave"></canvas>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- End Inner -->
						</div>
						<!-- End Contenedor -->
					</div>
				</div>
			</div>
		</div>
		<!-- Bootstrap -->
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<!-- Fontawesome -->
		<script src="{% static 'js/fontawesome.min.js' %}"></script>
		<!-- jQuery -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<!-- Telsy -->
		<script src="{% static 'js/telsy.js' %}"></script>
	</body>
</html>