{% load static %}
<!doctype html>
<html lang="es">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- Vertical Slider -->
		<link rel="stylesheet" href="{% static 'css/splide.min.css' %}">
		<!-- Telsy -->
		<link rel="stylesheet" href="{% static 'css/telsy.css' %}">
		<!-- Fontawesome -->
		<link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
		<!-- Animate -->
		<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
		<!-- Icon -->
		<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}">
		<title>Telsy Hogar</title>
	</head>
	<body>
		<div class="container-fluid p-0 black high-100">
			<div class="row no-gutters p-0 high-100">
				<div class="col-12 p-0 my-auto">
				<!-- Container Interface -->
					<div class="screen main-medium">
						<!-- Inner Container -->
						<div class="container-fluid p-0">
							<div class="row header no-gutters p-0">
								<div class="col title d-flex flex-row">
									<div class="icon my-auto margin-right-10"><img src="{% static 'images/icons/ico-monitoring.png' %}"></div>
									<h1>Monitoreo</h1>
								</div>
								<div class="col-fifth navigation d-flex justify-content-end">
									<a href="/menu/" class="button square s60 gradient-1">
										<div class="icon"><img src="{% static 'images/icons/ico-nav.png' %}"></div>
									</a>
								</div>
							</div>
							<div class="row main-content no-gutters p-0">
								<div class="col">
									<!-- Main Content -->
									<div class="container-fluid p-0 h-100">
										<div class="row no-gutters p-0 h-100">
											<div class="col-12 d-flex flex-column align-items-end ">
												<div class="container-fluid mt-auto ">
													<div class="row no-gutters p-0">
														<div class="col-4 my-auto">
															<div class="illustration">
																<img src="{% static 'images/illustrations/monitoring-0.png' %}">
															</div>
														</div>
														<div class="col-4 my-auto">
															<ol>
																<li><p>Siéntate cerca al monitor. </p></li>
																<li>Pulsa el botón verde para iniciar.</li>
															</ol>
														</div>
														<div class="col-4 my-auto">
															<div class="assistant as-180">
																<img src="{% static 'images/assistant/assistant-smile-small-1.png' %}">
															</div>
														</div>
													</div>
												</div>
												<div class="container-fluid mt-auto ">
													<div class="row no-gutters p-0">
														<div class="col-12 d-flex justify-content-center">
															<a href="/monitoring/?s=0&u=0" class="button rectangle r120 green d-flex align-items-center" style="width: 175px;">
																<div class="icon">
																	<img src="{% static 'images/icons/ico-monitoring.png' %}">
																</div>
																<p class="label txt-white">Iniciar</p>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!--End Main Content -->
								</div>
								<div class="col-fifth">
									<!-- Sidebar with Task list-->
									<div class="card sidebar-tasks main-light bor-grey">
										<!-- Tasks Slide -->
										<div id="splide-tasks" class="splide">
											<div class="splide__arrows">
												<button class="splide__arrow p-splide__arrow splide__arrow--prev p-splide__arrow--prev " aria-controls="example-ttb-track" aria-label="Next slide" disabled="">
													<div class="btn-scroll up gradient-vertical">
														<img src="{% static 'images/icons/chevron-up.png' %}">
													</div>
												</button>
												<button class="splide__arrow p-splide__arrow splide__arrow--next p-splide__arrow--next " aria-controls="example-ttb-track" aria-label="Next slide" disabled="">
													<div class="btn-scroll down gradient-vertical">
														<img src="{% static 'images/icons/chevron-up.png' %}">
													</div>
												</button>
											</div>
											<div class="splide__track">
												<ul class="splide__list" id="splide-list">
													<!-- Activities list -->
												</ul>
											</div>
										</div>
										<!--End Slide Tasks -->
									</div>
								</div>
							</div>
						</div>
						<!-- End Inner -->
					</div>
					<!-- End Contenedor -->
				</div>
			</div>
		</div>
		<!-- Bootstrap -->
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<!-- Vertical Splide -->
		<script src="{% static 'js/splide.min.js' %}"></script>
		<!-- Fontawesome -->
		<script src="{% static 'js/fontawesome.min.js' %}"></script>
		<!-- jQuery -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<!-- Telsy -->
		<script src="{% static 'js/telsy.js' %}"></script>
	</body>
</html>