{% load static %}
<!doctype html>
<html lang="es">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- Icon -->
		<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}">
		<!-- CSS  -->
		<link rel="stylesheet" href="{% static 'css/telsy.css' %}">
		<title>Telsy Hogar</title>
		<script type="text/javascript">
			function redirect() {
				window.location.href="/home/";
				setTimeout(redirect,10000);
			}
			setTimeout(redirect,10000);
		</script>
	</head>
	<body>
		<div class="container-fluid p-0 black high-100">
			<div class="row no-gutters p-0 high-100">
				<div class="col-12 p-0 my-auto">
					<div class="screen main-medium">
						<div class="container-fluid p-0" style="height: 440px; position: relative; justify-content: center; align-items: center; display: flex;">
							<img class="img-fluid" src="{% static 'images/Telsy.png' %}">
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			function redirect() {
				window.location.href="/home/";
			}
			setTimeout(redirect,10000);
		</script>
	</body>
</html>